.venv/ 
.python-version 
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.vscode/
.idea/
*.swp
*.swo

raw/*.csv
processed/*.pt

*.csv
*.pt

!raw/.gitkeep
!processed/.gitkeep
!models/.gitkeep
!visualization/.gitkeep

visualization/*.png
dist/
build/
