name: FEA-GNN CI 

on:
  push:
    branches: [ "gnn_v3" ]
  # pull_request:
  #   branches: [ "gnn_v3" ]

jobs:
  # --- JOB 1 : TESTS ---
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync
      - name: Run Tests
        run: uv run python -m pytest
